body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Header */
img.header-image{
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: -20% 0;
}

h1.header-title {
  color: white;
  margin-top: -471px;
  margin-left: 144px;
  font-size: 100px;
}

/* Nav Bar 1 */

nav.bar{
  background-color: beige;
}
/* Nav bar 2 with Api and Fidget Clicker */