body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Header */
.header{
}
img.header-image{
  width: 100%;
  height: 450px;
  object-fit: cover; 
  object-position: -20% 0;
  /* position: relative; */
}

h1.header-title {
  color: #fff493;
  text-shadow: 5px 4px #f56917;
  margin-top: -271px;
  margin-left: 144px;
  font-size: 100px;
  /* position: relative; */
}

/* Nav Bar 1 */
.nav-bar {
  font-size: 25px;
  background: linear-gradient(166deg, #FFD6A5, #CAFFBF);
  padding: 80px;
}

#brain {
  width: 100px;
}
/* Nav links */
a.nav-link{
  color: white;
  padding: inherit;
  float: right;
}
a.brand.navbar-brand{
  color: white;
  /* float: left; */
}
.navbar-light .navbar-brand:hover {
  color: blue;
} 

/* Nav bar 2 with Api and Fidget Clicker */